﻿
@{
    ViewData["Title"] = "主 页";
}

<style type="text/css">
    .hide-alert {
        display: none;
    }

    .hide-all {
        display: none;
    }

    .show-question {
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%，-50%);
        z-index: 1024;
        position: absolute;
    }

    .show-alert {
        display: block;
        /*left: 50%;
        top: 50%;
        z-index: 1024;
        position: fixed;*/
    }
</style>

<div class="text-center">
    <h1 id="topMessage" class="display-4">Welcome</h1>

    <br />
    <br />
    <br />
    <br />
    <h1>@ViewBag.Message</h1>
    <br />

    @if (string.IsNullOrEmpty(ViewBag.Message))
    {
    <button id="btn" type="button" class="btn btn-dark" onclick="window.location.reload();">不知道</button>
    }
    else
    {
    <button id="btn" type="button" class="btn btn-dark" onclick="window.location.reload();">让我再想想！</button>
    }

    <br />
    <br />

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
    <img src="~/image/a.gif" />
    }

    <div class="container">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="您有什么想吃的吗？" aria-label="您有什么想吃的吗？" aria-describedby="您有什么想吃的吗？" id="text-food">
            <button class="btn btn-outline-secondary" type="button" id="button-food">加入</button>
        </div>

        <div id="gender_question" name="question" class="alert alert-primary align-items-center hide-alert" role="alert">
            <div>
                你是
                <button name="Gender" class="btn btn-outline-secondary" style="vertical-align:unset" type="button">靓仔</button>
                还是
                <button name="Gender" class="btn btn-outline-secondary" style="vertical-align:unset" type="button">靓女</button>
                ？
            </div>
        </div>

        <div id="userName" class="input-group hide-all">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="给自己起个名字吧? 我怕忘记您喜欢吃什么！" aria-label="给自己起个名字吧? 我只是怕下次忘记你喜欢吃什么了啦！" id="text-userName">
                    <button id="add-username" class="btn btn-danger" type="button">就它了</button>
                </div>
            </div>
        </div>
        <div class="alert alert-primary align-items-center hide-alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
            <div>
                带有图标的警报示例
            </div>
        </div>
        <div class="alert alert-success align-items-center hide-alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
            <div>
                添加成功
            </div>
        </div>
        <div class="alert alert-warning align-items-center hide-alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                带有图标的警告警报示例
            </div>
        </div>
        <div class="alert alert-danger align-items-center hide-alert" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <div>
                添加失败
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        // Custom extension method
        (function ($) {

            $.fn.showAlert = function (val) {
                var alert = $(this);
                $(alert).addClass("show-alert");
                if (val != "" && val != null && val != "undefined") {
                    $(alert).children("div").text(val);
                }
                window.setTimeout(function () {
                    $(alert).removeClass("show-alert");
                }, 3000);
            };

            $.fn.showCenter = function() {
                var top = ($(window).height() - $(this).height()) / 2;
                var left = ($(window).width() - $(this).width()) / 2;
                var scrollTop = $(document).scrollTop();
                var scrollLeft = $(document).scrollLeft();
                $(this).css({ position: 'absolute', 'top': top + scrollTop, left: left + scrollLeft }).show();
            }

            $.fn.showBottomCenter = function () {
                var left = ($(window).width() - $(this).width()) / 2;
                var scrollLeft = $(document).scrollLeft();
                $(this).css({ position: 'absolute', 'bottom': 60  , left: left + scrollLeft }).show();
            }

            $.fn.showBottom = function () {
                $(this).css({ position: 'absolute', 'bottom': 60}).show();
            }

            $.fn.showTopCenter = function () {
                var left = ($(window).width() - $(this).width()) / 2;
                var scrollLeft = $(document).scrollLeft();
                $(this).css({ position: 'absolute', 'top': 150, left: left + scrollLeft }).show();
            }
        })(jQuery)

        $(function () {
            var userName = $.cookie('dm_username');

            if (userName == null || userName == "undefined" || userName == "") {
                $("#userName").showTopCenter();
            } else {
                $("#topMessage").text("Hi " + userName);
            }

            // Add Food
            $("#button-food").click(function () {

                var foodName = $("#text-food").val();
                if (foodName == null || foodName == "" || foodName == "undefined") {
                    return;
                };

                $.ajax({
                    type:"POST",
                    url: "@Url.Action("AddFood","Home")",
                    data: {
                        foodName: foodName
                    },
                    success: function (result) {
                        if (result.code == 200) {
                            $(".alert-success").showAlert();
                            $("#text-food").val('');
                        } else {
                            $(".alert-danger").showAlert(result.message);
                        }
                    }
                });
            });

            // Add User Name
            $("#add-username").click(function () {
                var userName = $("#text-userName").val();
                if (userName == null || userName == "" || userName == "undefined") {
                    return;
                };
                _userName = userName;
                $.cookie('dm_username', _userName);
                window.location.reload();
            });

            // Get Uuid
            function getUuiD() {
                if (_userId != null) {
                    return _userId;
                } else {
                    _userId = (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
                    $.cookie('dm_userid', _userId);
                }
            }
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
        });
    </script>
}
